venv
.env
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints
MLOPS_PROJECT_2.egg-info/
dist/
build/
.idea/
.vscode/
logs/
data/
models/
artifacts/raw/
artifacts/processed/
artifacts/models/
artifacts/model_checkpoints/
artifacts/model/

